---
import Layout from "../layouts/Layout.astro";
import bannerImg from "@images/banner.jpg"
import weathGraphicImg from "@images/wreath-graphic.jpg"
import jandtImg from "@images/j-and-t.jpg"
import { Image } from 'astro:assets'
---

<Layout title="Welcome to Astro.">
  <main class="px-12">
		<div class="flex justify-center my-12">
			<Image src={bannerImg} alt="Save the date" class="mw-835px"/>
		</div>
    <h1 class="text-center text-5xl colour-pink mb-3 font-medium">Trân và John</h1>
    <p class="text-3xl colour-pink leading-12 text-center font-medium">
      Thân mời, …………………, đến dự tiệc cưới của chúng mình/ chúng em<br/> vào ngày<br/> Chủ
      nhật, 25 tháng 2 năm 2024<br/> Tại Trung tâm Hội nghị - Tiệc cưới Queen Plaza
      Kỳ Hòa, Sảnh Queen 6<br/> 16A Lê Hồng Phong (nối dài), Phường 12, Quận 10,
      TP.HCM
    </p>
		<div class="flex justify-center">
			<Image src={weathGraphicImg} alt="" class=""/>
		</div>
		<div class="flex justify-center mb-12">
			<Image src={jandtImg} alt="J Loves T" class="mw-366px"/>
		</div>
  </main>
</Layout>

<style>
	.mw-835px{
		max-width: 835px;
	}
	.mw-366px{
		max-width: 366px;
	}
	.colour-pink{
		color: rgb(255, 0, 102)
	}
	.leading-12{
		line-height: 48px;
	}
</style>
